<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
    <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet"/>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
    <link class="main-css" rel="stylesheet" href="/mybrary/stylesheets\main.css">
    <script defer src="/mybrary/js/fileUpload.js"></script>
</head>
<body>
    <div class="container">
        <header>   
            <nav class="header-nav">    
                <a class="header-title" href="/mybrary">Mybrary</a>
                <ul>
                    <li><a href="/mybrary/books">Books</a></li>
                    <li><a href="/mybrary/books/new">Add Book</a></li>
                    <li><a href="/mybrary/authors">Authors</a></li>
                    <li><a href="/mybrary/authors/new">Add Author</a></li>
                </ul>
            </nav> 
        </header>
        <div class="inner-container">
